body
{
background-color:purple;
text-align:center;
}

h1
{
margin-left:auto;
margin-right:auto;
}

table
{
padding: 5px;
margin-left: auto;
margin-right: auto;
}

tr
{
border: 6px solid black:
padding: 20px;
}

img
{
height: 300px;
width: 400px;
}

img.left
{
float:left;
}

img.right
{
float:right;
}

.inline
{
display:inline;
}

img.banner
{
height:150px;
width: 1000px;
margin-top: 50px;
}

.fooditems
{
color:black;
}
.reviews
{
float:right;
}
.rates
{
float:left;
}
