<html>
<head>
<title>Admin Page</title>
<meta charset="UTF-8" >
<title>Homepage</title>
<link rel = 'stylesheet'  href = "../static/login.css " />
<link rel = 'stylesheet'  href = "../static/nav.css " />
</head>
<body>

<!--NAV BAR-->
<ul>
<li><a class='active' href='/homepage' name='homepageurl'>Homepage</a></li>
<li><a class = 'active' href='/menu'>Menu</a></li>
<li><a class='active' href='/search'>Search</a></li>
<li><a class='active' href='/landing'>Sign Out</a></li>
<li><a class='active' href='/userpage'>User Page</a></li>
<li><a class='active' href='/admin'>Admin</a></li>
</ul>

<h1> Admin </h1>
<h2>Create/Update Food Items</h2>
<p>Only food name is required for updates.</p>
<p>All fields are required for inserts.</p>
<form id='admin' method='post' action='admin' enctype='multipart/form-data'/>
<table>
<tr><td>Name:<input type='text' name='foodname'/></td></tr>
<tr><td>Description:<input type='text' name='description'/></td></tr>
<tr><td>Image:<input type='file' name='file'/></td></tr>
<tr><td>Station:
<select name='station'>
  <option value='Entree'>Entree</option>
  <option value='Vegetarian'>Vegetarian</option>
  <option value='International'>International</option>
  <option value='Spitfire'>Spitfire</option>
  <option value='Grill'>Grill</option>
  <option value='Soup'>Soup</option>
  <option value='Bakery'>Bakery</option>
</select>
</td></tr>
<tr><td>Day Served:
<select name='day'>
  <option value='Monday'>Monday</option>
  <option value='Tuesday'>Tuesday</option>
  <option value='Wednesday'>Wednesday</option>
  <option value='Thursday'>Thursday</option>
  <option value='Friday'>Friday</option>
</select>
</td></tr>
<tr><td>Current Menu Item:<input type='checkbox' name='current'/></td></tr>
<tr><td><input type='submit' name='update' value='update'/>
<input type='submit' name='insert' value='insert'/>
<input type='submit' name='reset' value='Reset Weekly Menu'/></td></tr>
</table>
</form>
</body>
</html>
