<!doctype html>
<head>
<link rel = 'stylesheet'  href = "../static/login.css" />
<title>CreateAccount</title>
</head>
<body>
<table class='inline'><tr><td>
<h1>Create Account</h1>
<form id='form' method='post' action = '../php/createAccount.php'>
<p>Userid: <input type='text' name='userid'/></p>
<p>Password: <input type='password' name='password'/></p>
<input type='submit' name='submit' value='Create Account'/>
</form>
</td></tr></table>

<img src='../static/images/Roche1.jpg' alt='Roche1' class='left' class='inline'/>
<img src='../static/images/Roche2.jpg' alt='Roche2' class='right' class='inline'/>

<img src='../static/images/foodbanner.jpg' alt='foodbanner' class='banner'/>
</body>
</html>
