<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
<title>Food Item</title>
<link rel = 'stylesheet'  href = "../static/login.css" />
<link rel = 'stylesheet'  href = "../static/nav.css" />
<link rel = 'stylesheet'  href = "../static/fooditem.css" />
</head>
<body>

<!--NAV BAR-->
<ul>
    <li><a class='active' href='homepage.html' name='homepageurl'>Homepage</a></li>
    <li><a class = 'active' href='menu.html'>Menu</a></li>
    <li><a class='active' href='search.html'>Search</a></li>
    <li><a class='active' href='landing.html'>Sign Out</a></li>
    <li><a class='active' href='userpage.html'>User Page</a></li>
</ul>

<h1>{{name}}</h1>

<!--Food Table-->

<img src= "../static/images/image"/>
<table>
<tr>
<td>
<p> Description: {{description}}</p>
</td>
<td>
<p> Rating: {{rating}} </p>
</td>
</tr>
<tr>
<td>
<p> Station: {{station}} </p>
</td>
<td>
<p> Day Served: {{day}} </p>
</td>
</tr>
</table>

<!--Add Comment or Rating-->
<h2> Add your rating </h2>
<form id='form' method='post' action='../php/fooditem.php'>
<p> Rate <input type='number' name='rate' min='0' max='10'/><p>
<p> Review <input type='textfield' name='review'/>
<input type='submit' value='Submit' name='submit'/>
</form>

<!--Comments Table-->
<h2> Reviews </h2>
<table>
{% for review in reviews %}
<tr>
<td>
<p> {{review.review}} </p>
</td>
<td>
<p> {{review.username}} </p>
</td>
</tr>
{% endfor %}
</table>

</body>
</html>
