<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Food List</title>
        <!--<link rel="stylesheet" href="../static/fooditem.css"/>-->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/start/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://datatables.net/download/build/jquery.dataTables.js"></script>
	<script type="text/javascript" src="foodlistscript.js" ></script>    </head>-->
    <body>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="checking"></table>
    </body>
</html>
    
