<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
<title>Login</title>
<link rel = 'stylesheet'  href = "{{ url_for('static', filename='login.css') }}" />
</head>
<body>
<h1> Stonehill Caf Menu App</h1>

<!--LOGIN-->
<table class='inline'><tr><td>
<form id='form' method='post' action='landing'/>
<input type='submit' name='existinguser' value='Existing User'/>
<input type='submit' name='newuser' value='New User'/>
</form>
</td></tr></table>

<img src='/static/images/Roche1.jpg' alt='Roche1' class='left' class='inline'/>
<img src='/static/images/Roche2.jpg' alt='Roche2' class='right' class='inline'/>

<img src='/static/images/foodbanner.jpg' alt='foodbanner' class='banner'/>

</body>
</html>
    
